@charset "utf-8";

@keyframes beerUp {
    0% {transform: translateY(100%)}
    100% {transform: translateY(0)}
}   
@keyframes beerDown {
    to {transform: translateY(100%)}
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body * {touch-action: none;} */
body {
    height: 100vh;
    height: -webkit-fill-available;
    height: fill-available;
    overflow: hidden;
}
#beer {
    display: flex;
    justify-content: center;
    width: 100%; height: 100vh;
    /* overflow: hidden; */
    animation: beerUp 2.2s cubic-bezier(.25,.85,.5,.95);
    transform-origin: bottom;
}
#beer.active {animation: beerDown 5s forwards;}
#beer.active.paused {animation-play-state: paused;}


.beer-wrap {
    position: relative;
    width: 200vw; height: 200vh;
    flex-shrink: 0;
}

.beer-body {
    position: absolute;
    top: 0; left: 0;
    width: 200vw; height: 200%;
    background: rgb(255,235,69);
    background-image: 
        radial-gradient(circle, rgb(255, 203, 34) 10%, rgb(218, 160, 3) 70%, rgb(192, 126, 4) 100%);
    transform-origin: bottom;
    overflow: visible !important;
}
.beer-body.active {animation: beerDown 5s forwards;}
.beer-body.active.paused {animation-play-state: paused;}

canvas{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    resize: both;
}

.beer-foam {
    position: absolute;
    top: 0; left: 0;
    width: 200vw; height: 200%;
    background-image: url('https://1bins.github.io/test/foam.png');
    background-size: auto 200px;
    background-repeat: repeat-x;
    z-index: 10;
}

button {
    position: absolute;
    top: 0; left: 0;
    width: 180px; height: 60px;
    z-index: 20;
}